@model MusicCatalog.Domain.Models.Artist

@{
    ViewData["Title"] = "Edit artist";
}

<div class="container">
    <h1 class="text-center">Update Artist</h1>
    <form method="post">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" placeholder="Enter first name:" />
        </div>

        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" placeholder="Enter last name:" />
        </div>

        <div class="form-group">
            <label for="DateOfBirth">Date of Birth</label>
            <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-outline-secondary" href="/Artists/Index">Cancel</a>
    </form>
</div>