@model MusicCatalog.MVCView.ViewModels.Artists.ArtistsViewModel

@{
    ViewData["Title"] = "Genres";
}

<div class="text-center">
    @await Html.PartialAsync("~/Views/Shared/PaginatedFilteredTable.cshtml", Model)
</div>