@page
@model MusicCatalog.RazorPagesView.Pages.Genres.CreateGenre

@{
    ViewData["Title"] = "Create Genre";
}

@* <div class="text-center"> *@
@*     <form method="post" asp-page="/CreateGenre"> *@
@*         <p> *@
@*             <input type="text" placeholder="Genre name" name="Name" /> *@
@*         </p> *@
@*         <input type="submit" value="Create" /> *@
@*     </form> *@
@* </div> *@


