@page "{id:int}"
@model MusicCatalog.RazorPagesView.Pages.Genres.UpdateGenre

@{
    ViewData["Title"] = "Update Genre";
}


<div class="text-center update-genre-page page-container">
    <h1 class="page-title">Update Genre</h1>
    <form method="post" asp-page="/UpdateGenre">
        <div class="form-group">
            <label for="UpdateGenreName">Genre Name</label>
            <input type="text" class="form-control" id="UpdateGenreName" name="Name" placeholder="Genre name" value="@Model.Genre.Name" />
        </div>
        <input type="submit" class="btn btn-update" value="Update"/>
    </form>
</div>
